@tailwind base;
@tailwind components;
@tailwind utilities;

// Custom theme variables
:root {
  --color-navy: #18223A;
  --color-gold: #C4A052;
}

html, body {
  font-family: 'Inter', 'serif', sans-serif;
}